services:
  postgres:
    image: postgres:latest
    container_name: postgresql
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=default
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD='{{ postgresql_admin_password }}'
    volumes:
      - {{ postgres_home_directory }}/data:/var/lib/postgresql/data
    labels:
      - traefik.enable=true
      - traefik.http.routers.postgres.rule=Host(`postgres.{{ domain_name }}`)
      - traefik.http.services.postgres.loadbalancer.server.port=5432
      - traefik.http.routers.postgres.entrypoints=websecure
      - traefik.http.routers.postgres.tls=true
    restart: unless-stopped

networks:
  proxy:
    name: proxy
    external: true