- name: Set service username variable
  set_fact:
    nextcloud_service_user: "{{ role_name }}"

- name: Set service user home folder variable
  set_fact:
    nextcloud_home_directory: "/home/{{ nextcloud_service_user }}"

- name: Gather Docker container details
  community.docker.docker_container_info:
    name: traefik
  register: container_info
  become: true

- name: Extract container IP address
  set_fact:
    reverse_proxy_ip: "{{ container_info.container.NetworkSettings.Networks.proxy.IPAddress }}"

- block:
    - name: Add service user for NextCloud
      user:
        name: "{{ nextcloud_service_user }}"
        groups: "{{ service_group }}"
        state: present

    - name: Copy docker compose file
      template:
        src: ../templates/docker-compose.yml.j2
        dest: "{{ nextcloud_home_directory }}/docker-compose.yml"
        owner: "{{ nextcloud_service_user }}"
        group: "{{ nextcloud_service_user }}"
        mode: 0600
      vars:
        nextcloud_home_directory: "{{ nextcloud_home_directory }}"
        reverse_proxy_ip: "{{ reverse_proxy_ip }}"

    - name: Deploy docker compose stack
      community.docker.docker_compose_v2:
        project_src: "{{ nextcloud_home_directory }}"
        files:
          - docker-compose.yml

    - name: Add cron job for Nextcloud
      ansible.builtin.cron:
        name: "Nextcloud cron job"
        user: root
        minute: "*/5" # Runs every 5 minutes
        job: "docker exec -u www-data nextcloud php /var/www/html/cron.php"

  become: true