- name: Set service username variable
  set_fact:
    gitea_service_user: "{{ role_name }}"

- name: Set service user home folder variable
  set_fact:
    gitea_home_directory: "/home/{{ gitea_service_user }}"

- block:
    - name: Add service user for Gitea
      user:
        name: "{{ gitea_service_user }}"
        groups: "{{ service_group }}"
        state: present

    - name: Copy docker compose file
      template:
        src: ../templates/docker-compose.yml.j2
        dest: "{{ gitea_home_directory }}/docker-compose.yml"
        owner: "{{ gitea_service_user }}"
        group: "{{ gitea_service_user }}"
        mode: 0600

    - name: Deploy docker compose stack
      community.docker.docker_compose_v2:
        project_src: "{{ gitea_home_directory }}"
        files:
          - docker-compose.yml

  become: true