- name: Set service username variable
  set_fact:
    pihole_service_user: "{{ role_name }}"

- name: Set service user home folder variable
  set_fact:
    pihole_home_directory: "/home/{{ pihole_service_user }}"

- name: Set pi-hole dnsmasq folder variable
  set_fact:
    pihole_dnsmasq_directory: "{{ pihole_home_directory }}/etc-dnsmasq.d"

- block:
  - name: Add service user for pihole
    user:
      name: "{{ pihole_service_user }}"
      groups: "{{ service_group }}"
      state: present

  - name: Copy custom DNS entries file
    template:
      src: ../templates/dns-entries.list.j2
      dest: "{{ pihole_dnsmasq_directory }}/99-additional.conf"
      owner: "{{ pihole_service_user }}"
      group: "{{ pihole_service_user }}"
      mode: '0644'

  - name: Copy Pi-hole docker compose file
    template:
      src: ../templates/docker-compose.yml.j2
      dest: "{{ pihole_home_directory }}/docker-compose.yml"
      owner: "{{ pihole_service_user }}"
      group: "{{ pihole_service_user }}"
      mode: '0600'
    vars:
      pihole_home_directory: "{{ pihole_home_directory }}"
      pihole_dnsmasq_directory: "{{ pihole_dnsmasq_directory }}"


  - name: Deploy Pi-hole docker compose stack
    community.docker.docker_compose_v2:
      project_src: "{{ pihole_home_directory }}"
      files:
        - docker-compose.yml

  become: true