- block:
  - name: Add service user for pihole
    user:
      name: "{{ pihole_service_user }}"
      groups: "{{ service_group }}"
      state: present

  - name: Copy custom DNS entries file
    template:
      src: ../templates/dns-entries.list.j2
      dest: "{{ pihole_dnsmasq_directory }}/99-additional.conf"
      owner: "{{ pihole_service_user }}"
      group: "{{ pihole_service_user }}"
      mode: '0644'

  - name: Copy Pi-hole docker compose file
    template:
      src: ../templates/docker-compose.yml.j2
      dest: "{{ pihole_home_directory }}/docker-compose.yml"
      owner: "{{ pihole_service_user }}"
      group: "{{ pihole_service_user }}"
      mode: '0600'

  - name: Deploy Pi-hole docker compose stack
    community.docker.docker_compose_v2:
      project_src: "{{ pihole_home_directory }}"
      files:
        - docker-compose.yml

  become: true