services:
  gitlab:
    image: gitlab/gitlab-ce:latest
    container_name: gitlab
    restart: unless-stopped
    networks:
      - proxy
    hostname: "gitlab.{{ domain_name }}"
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url "http://gitlab.{{ domain_name }}"
        gitlab_rails["initial_root_email"] = "{{ gitlab_root_email }}"
        gitlab_rails["initial_root_password"] = "{{ gitlab_admin_password }}"
        gitlab_rails['gitlab_shell_ssh_port'] = 2222
        gitlab_rails['usage_ping_enabled'] = false
        gitlab_rails['sentry_enabled'] = false
        gitlab_rails['update_checker_enabled'] = false
        gitlab_rails['security_scanning_enabled'] = false
        letsencrypt['enable'] = false    

    ports:
      - "2222:22"
    volumes:
      - "{{ gitlab_home_directory }}/config:/etc/gitlab"
      - "{{ gitlab_home_directory }}/logs:/var/log/gitlab"
      - "{{ gitlab_home_directory }}/data:/var/opt/gitlab"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.gitlab.rule=Host(`gitlab.{{ domain_name }}`)"
      - "traefik.http.services.gitlab.loadbalancer.server.port=80"
      - "traefik.http.routers.gitlab.entrypoints=websecure"
      - "traefik.http.routers.gitlab.tls=true"

networks:
  proxy:
    name: proxy
    external: true