- block:
  - name: Add service user for postgres
    user:
      name: "{{ postgres_service_user }}"
      groups: "{{ service_group }}"
      state: present

  - name: Copy Postgres docker compose file
    template:
      src: ../templates/docker-compose.yml.j2
      dest: "{{ postgres_home_directory }}/docker-compose.yml"
      owner: "{{ postgres_service_user }}"
      group: "{{ postgres_service_user }}"
      mode: '0600'

  - name: Deploy Postgres docker compose stack
    community.docker.docker_compose_v2:
      project_src: "{{ postgres_home_directory }}"
      files:
        - docker-compose.yml

  become: true